* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    section.head_blue{
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 500px;
        background-color: #0289ff;
        border: 2px solid black;
        border-radius: 48% 48% 45% 45%;
        position: relative;

        div.eyes{
            display: flex;
            justify-content: center;
            div.eye_white{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 125px;
                background-color: white;
                border-radius: 48% 48% 45% 45%;
                margin-top: 3rem;
                border: 2px solid black;
                z-index: 9;

                div.eyeball_black{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 30px;
                    background-color: black;
                    border-radius: 48% 48% 45% 45%;

                    div.eyeball_white{
                        width: 5px;
                        height: 5px;
                        background-color: white;
                        border-radius: 50%;
                    }
                }
            }
        }

        div.head_white{
            display: flex;
            width: 420px;
            height: 390px;
            background-color: white;
            border: 2px solid black;
            border-radius: 50% 50% 45% 45%;
            position: absolute;
            bottom: .1rem;
            left: 3rem;

            div.nose{
                width: 50px;
                height: 50px;
                background-color: red;
                border-radius: 50%;
                position: absolute;
                top: 2.7rem;
                left: 11.5rem;

                div.nose_light{
                    width: 13px;
                    height: 13px;
                    background-color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 1.3rem;
                    left: 1.1rem;
                }
            }

            div.beard{
                display: flex;
                
                div.left_beard{
                    display: flex;
                    span{
                        width: 8rem;
                        height: 1.5px;
                        background-color: black;

                        &:nth-child(1){
                            position: absolute;
                            top: 5rem;
                            left: 1rem;
                            transform: rotate(20deg);
                        }

                        &:nth-child(2){
                            position: absolute;
                            top: 8rem;
                            left: .5rem;
                            transform: rotate(0deg);
                        }

                        &:nth-child(3){
                            position: absolute;
                            top: 11rem;
                            left: 1rem;
                            transform: rotate(-20deg);
                        }
                    }
                }

                div.right_beard{
                    display: flex;

                    span{
                        width: 8rem;
                        height: 1.5px;
                        background-color: black;

                        &:nth-child(1){
                            position: absolute;
                            top: 4.8rem;
                            left: 17.1rem;
                            transform: rotate(160deg);
                        }

                        &:nth-child(2){
                            position: absolute;
                            top: 7.8rem;
                            left: 17.4rem;
                            transform: rotate(0deg);
                        }

                        &:nth-child(3){
                            position: absolute;
                            top: 10.8rem;
                            left: 17.1rem;
                            transform: rotate(-160deg);
                        }
                    }
                }
            }

            div.philtrum{
                width: 2px;
                height: 246px;
                background-color: black;
                position: absolute;
                top: 5.8rem;
                left: 13rem;
            }

            div.mouse{
                width: 350px;
                height: 300px;
                position: absolute;
                top: 2.5rem;
                left: 2rem;
                border-radius: 0 0 45% 45%;
                border-bottom: 2px solid black;
            }
        }
    }

    div.tie{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100px;
        background-color: red;
        position: relative;
        top: -5rem;
        border: 2px solid black;
        border-radius: 45%;
        z-index: -5;
        div.bell{
            display: flex;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: yellow;
            position: absolute;
            bottom: -2rem;
            border: 2px solid black;

            div.bell_line{
                width: 60px;
                height: 10px;
                border-radius: 25%;
                background-color: yellow;
                position: absolute;
                bottom: 1.5rem;
                border: 2px solid black;
            }

            div.bell_hole1{
                width: 15px;
                height: 10px;
                border-radius: 50%;
                background-color: black;
                position: absolute;
                bottom: 1rem;
            }

            div.bell_hole2{
                width: 2px;
                height: 20px;
                background-color: black;
                position: absolute;
                bottom: -.1rem;
            }
        }
    }
}